[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
whitenoise = "*"
cloudinary = "*"
dj-database-url = "*"
djangorestframework = "*"
gunicorn = "*"
pysqlite3 = "*"

[requires]
python_version = "3.6"
