<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reader Today News</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="apple-touch-icon" href="{{ static('img/apple-icon.png')}}">
  <link rel="shortcut icon" type="image/png" href="{{ static('img/favicon.ico')}}"/>
  
  <!-- Place favicon.ico in the root directory -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Mukta|Noto+Sans" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="{{ static('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ static('css/base.css') }}">
  <link rel="stylesheet" href="{{ static('css/main.css') }}">
  {%block style%}
  {%endblock%}
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/visibility.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/transition.min.js"></script>
  <script>
    $(document)
    .ready(function() {
      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in')
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out')
          }
        })
      $('.fixed.menu').transition('fade out')
    })
  </script>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Following Menu -->
<div class="ui borderless top fixed hidden menu">
  <div class="ui container" id="menu-fixed">
    {% raw %}
      <div class="item header">{{name}}</div>
      <a class="item" v-for="item in main_items" :href="item.url" :class="{active: item.active}">{{item.name}}</a>
      <div class="right menu">
        <div class="item" v-for="item in sec_items">
          <a class="ui primary button" :href="item.url">{{item.name}}</a>
        </div>
      </div>
    {% endraw %}
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <div class="ui container" id="menu-sidebar">
    {%raw%}
      <a class="item" v-for="item in main_items" :href="item.url" :class="{active: item.active}">{{item.name}}</a>
      <a class="item" v-for="item in sec_items" :href="item.url" :class="{active: item.active}">{{item.name}}</a>
    {%endraw%}
  </div>
</div>

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted black vertical masthead center aligned segment">

    <div class="ui container" id="menu-main">
      {%raw%}
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="item" v-for="item in main_items" :href="item.url" :class="{active: item.active}">{{item.name}}</a>
          <div class="right item">
            <a class="ui inverted button" v-for="item in sec_items" :href="item.url">{{item.name}}</a>
          </div>
        </div>
      {%endraw%}
    </div>
    {% block header%}
    <div class="ui text container">
      <div class="ui image">
        <img src="{{static('img/name_old.png')}}"/>
      </div>
    </div>
    {% endblock%}
  </div>
  <div class="ui basic segment">
    {%block app%}
    {%endblock%}
  </div>

  
<!-- site content end -->
</div>
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Sitemap</a>
          <a href="#" class="item">Contact Us</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Advertisement</a>
          <a href="#" class="item">News Publish</a>
        </div>
      </div>
      <div class="seven wide column">
          <h4 class="ui inverted header">Readers Today News</h4>
          <a class="ui facebook icon button" href="https://www.facebook.com/pg/readerstodaynews">
            <i class="facebook icon"></i>
          </a>
          <a class="ui twitter icon button" href="https://twitter.com/ReadersTodayGrp">
            <i class="twitter icon"></i>
          </a>
          <!-- <a class="ui google plus icon button">
            <i class="google plus icon"></i>
          </a>
          <a class="ui vk icon button">
            <i class="vk icon"></i>
          </a>
          <a class="ui linkedin icon button">
            <i class="linkedin icon"></i>
          </a>
          <a class="ui instagram icon button">
            <i class="instagram icon"></i>
          </a>
          <a class="ui youtube icon button">
            <i class="youtube icon"></i>
          </a> -->
      </div>
    </div>
  </div>
</div>
<script src="{{ static('js/utils.js') }}"></script>
<script src="{{ static('js/menu.js') }}"></script>
{%block script%}
      
{%endblock%}
</body>
</html>