<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reader Today News</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="{{ static('img/icon.png')}}">
  <!-- Place favicon.ico in the root directory -->
  
  <link rel="stylesheet" href="{{ static('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ static('css/main.css') }}">
  
  <link href="https://fonts.googleapis.com/css?family=Mukta|Noto+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
</head>

<body >
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    
    <!-- Add your site or application content here -->
    
    <div class="ui top attached inverted red menu segment">
      <div class="item">
        <div class="ui small basic inverted icon button" id="sidebar-button"><i class="sidebar icon"></i></div>
      </div>
      <div class="item header">
        Readers Today News
      </div>
    </div>
    <div class="ui bottom attached segment pushable" >
      <div class="ui inverted inline vertical sidebar menu">
        <!-- sidebar content start -->
        {% raw %}  
        <div class="ui text container" id="menu">
          <a class="item" href="/">Home</a>
          <a class="item" v-for="item in items" :href="item.url" :class="{active: item.active}">
            {{item.name}}
          </a>
        </div>
        {% endraw %}
        <!-- sidebar content end -->
      </div>
      <div class="pusher">
        <!-- site content start -->
        <div class="ui container" style="margin-top:2em;">
            {%block app%}
            {%endblock%}
        </div>
        <!-- site content end -->
      </div>
    </div>
    
    <script src="{{ static('js/vendor/modernizr-3.6.0.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    
    <script src="{{ static('js/menu.js') }}"></script>
    {%block script%}
        
    {%endblock%}
  </body>
  </html>