{% extends "base.html" %}

{%block style%}
{% endblock %}

{%block script%}
<script src="{{ static('js/categories.js') }}"></script>
{% endblock %}

{% block header%}
<h1>Categories</h1>
{% endblock %}

{% block app %}
{% raw %}
<div class="ui container">
    <div id="app">
        <div class="ui segment" v-for="cat in categories">
            <h3>{{cat.name}}</h3>
            <div class="ui horizontal list" style=" display: flex; overflow-x: scroll;" v-if="posts_by_cat[cat.id] && posts_by_cat[cat.id].length">
                <div class="ui item" v-for="post in posts_by_cat[cat.id]">
                    <div class="ui small card">
                        <a class="ui fluid rounded image" :href="'/post/' + post.id">
                            <img :src="post.media_items[0].image" style=" height:200px; object-fit: none; object-position: center">
                        </a>
                        <div class="content">
                            <div class="header"><a :href="'/post/' + post.id">{{post.title}}</a></div>
                            <div class="meta">
                                {{post.source.name}}
                                <br/>
                                {{post.last_modified_on}}
                            </div>
                            <div class="description">
                                {{post.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                No Posts under this category yet
            </div>
        </div>
    </div>
</div>
{% endraw %}
{% endblock %}
