{% extends "base.html" %}

{%block style%}
<link rel="stylesheet" href="{{ static('css/index.css') }}">
{%endblock%}

{% block app %}
{% raw %}
<div id="app">
  <div class="ui container">
    <div class="ui stackable grid">
      <!-- breaking news row -->
      <div class="ui eleven wide column">
        <div class="ui row basic segment">  
            <div class="ui negative message">
              <div class="ui red label">Breaking news</div>
              This is a breaking news
              <a href="#">read more...</a>
            </div>
            <div class="ui message">
              <div class="ui blue label">International</div>
              <a href="#">This is a International news</a>
            </div>
          </div>
      </div>
      <div class="five wide column">
        <div class="ui segment">Advertisement</div>
      </div>
      <!-- breaking news row end-->

      <div class="ui eleven wide column">
        
        <!-- article section row-->
        <div class="ui row">
          <div class="ui stackable grid">
            <div class="stretched row">
              <div class="nine wide column">
                  <a :href="'/post/'+main_post.id">
                    <img class="ui large image" :src="main_post.media_items[0].image" v-if="main_post.media_items.length"/>
                  </a>
                  <br/>
                  <div class="ui container">
                      <a class="ui label" v-for="tag in main_post.tags" :href="'/categories/' + tag.name">{{tag.name}}</a>
                  </div>
                  <a class="ui huge header" :href="'/post/' + main_post.id">{{main_post.title}}</a>
                  <div>
                      <a href="#" class="ui icon button">{{main_post.likes_count}} <i class="thumbs up outline icon"></i> Like</a>
                      <a href="#" class="ui icon button">{{main_post.comments_count}} <i class="comments outline icon"></i> Comment</a>
                  </div>
                  <p class="ui text">{{main_post.content}}</p>
              </div>
              <div class="seven wide column">
                <div class="ui container" v-for="post in primary_posts">
                    <a :href="'/post/'+post.id"><img class="ui large image" :src="post.media_items[0].image" v-if="post.media_items.length"/></a>
                    <br/>
                    <div>
                        <a class="ui label" v-for="tag in post.tags" :href="'/categories/' + tag.name">{{tag.name}}</a>
                    </div>
                    <br/>
                    <a class="ui huge header" :href="'/post/' + post.id">{{post.title}}</a>
                    <br/>
                    <a href="#" class="ui mini compact icon button">{{post.likes_count}} <i class="thumbs up outline icon"></i> Like</a>
                    <a href="#" class="ui mini compact icon button">{{post.comments_count}} <i class="comments outline icon"></i> Comment</a>
                    <hr/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui five wide column">
        <!-- top news by tags-->
        <h4>Top categories</h4>
        <div class="ui inverted segment cat_item" v-for="tag in top_tags"
        style="min-height: 90px; background-position: center;"
        :class="get_random_color_class()"
        :style="'background-image: url('+tag.image+');'">
          <div class="ui dimmer">
            <div class="content">
              <div class="ui inverted header">{{tag.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui five wide column" v-for="post in old_posts">
          <a :href="'/post/'+post.id"><img class="ui large image" :src="post.media_items[0].image" v-if="post.media_items.length"/></a>
          <br/>
          <div>
              <a class="ui label" v-for="tag in post.tags" :href="'/categories/' + tag.name">{{tag.name}}</a>
          </div>
          <br/>
          <a class="ui header" :href="'/post/' + post.id">{{post.title}}</a>
          <br/>
          <a href="#" class="ui mini compact icon button">{{post.likes_count}} <i class="thumbs up outline icon"></i> Like</a>
          <a href="#" class="ui mini compact icon button">{{post.comments_count}} <i class="comments outline icon"></i> Comment</a>
        </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}

{% block script %}
<!-- <script src="{{ static('js/data.js') }}"></script> -->
<script src="{{ static('js/index.js') }}"></script>
{% endblock %}