{% extends "base.html" %}

{%block style%}
{% endblock %}

{%block script%}
<script>
var postid = parseInt("{{postid}}")
</script>
<script src="{{ static('js/post.js') }}"></script>
{% endblock %}

{% block header%}
{% raw %}
<div class="ui fluid container headerimage">
    
</div>
{% endraw %}
{% endblock %}

{% block app %}
{% raw %}
<div id="app">
    <div class="ui center aligned basic segment">            
        <div class="ui rounded image" v-if="post && post.media_items && post.media_items.length">
            <img :src="post.media_items[0].image">
        </div>
    </div>
    <div class="ui text container">    
        <div class="ui header">{{post.title}}</div>
        <p>{{post.content}}</p>
    </div>
</div>
{% endraw %}
{% endblock %}
